- block:

  - name: "postgresql_cluster · database {{ _database.name }}"
    postgresql_db:
      encoding: "{{ _database_encoding }}"
      lc_collate: "{{ _database_locale }}"
      lc_ctype: "{{ _database_locale }}"
      name: "{{ _database.name }}"
      owner: "{{ _database_owner }}"
      port: "{{ _cluster_port }}"
      template: "{{ _database_template }}"
    become: true
    become_user: postgres

  - name: "postgresql_cluster · database {{ _database.name }} / schemas"
    postgresql_schema:
      name: "{{ item }}"
      login_db: "{{ _database.name }}"
      owner: "{{ _database_owner }}"
      port: "{{ _cluster_port }}"
      state: present
    with_items: "{{ _database_schemas }}"
    become: true
    become_user: postgres

  - name: "postgresql_cluster · database {{ _database.name }} / postgis"
    package:
      name: "{{ _database_postgis_package }}"
    when: _database_postgis

  - name: "postgresql_cluster · database {{ _database.name }} / postgis schema"
    postgresql_schema:
      name: "{{ _database_postgis_schema }}"
      login_db: "{{ _database.name }}"
      owner: "{{ _database_owner }}"
      port: "{{ _cluster_port }}"
      state: present
    when: _database_postgis
    become: true
    become_user: postgres

  - name: "postgresql_cluster · database {{ _database.name }} / postgis extension"
    postgresql_ext:
      name: postgis
      login_db: "{{ _database.name }}"
      port: "{{ _cluster_port }}"
      schema: "{{ _database_postgis_schema }}"
      cascade: true
    when: _database_postgis
    become: true
    become_user: postgres

  vars:
    _database: "{{ cluster_db_item.database }}"
    _cluster: "{{ cluster_db_item.cluster }}"
    # _database and _cluster cannot be reused here
    _database_owner: "{{ _database.owner | default(postgresql_cluster_postgres_user) }}"
    _database_locale: "{{ cluster_db_item.database.locale | default(postgresql_cluster_default_locale) }}"
    _database_encoding: "{{ cluster_db_item.database.encoding | default(postgresql_cluster_default_encoding) }}"
    _database_template: "{{ cluster_db_item.database.template | default(postgresql_cluster_default_template) }}"
    _database_schemas: "{{ cluster_db_item.database.schemas | default([]) }}"
    _database_postgis: "{{ cluster_db_item.database.postgis | default(False) }}"
    _database_postgis_schema: "{{ cluster_db_item.database.postgis_schema | default('postgis') }}"
    _database_postgis_package: "{{ cluster_db_item.database.postgis_package | default('postgis30_12') }}"
    _cluster_port: "{{ cluster_db_item.cluster.port | default(postgresql_cluster_default_port) }}"
